.backgammon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  font-family: 'Titillium Web', sans-serif;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 10%;
  height: 325px;
  margin-top: -200px;
}

.backgammon-image {

    display: flex;
    flex-wrap: wrap;
    width: 150px;
    height: 150px;
    border: 2px solid lightgrey;
    margin-bottom: 5px;
  
}

.backgammon-title {
  padding-top: 20px;
  margin: 0;
  font-weight: 800;
  margin-bottom: 0px;
}

.backgammon-play {
  margin-top: 10px;
  border:0;
  background-color: transparent;
  font-size: 20px;
  color:black;
  font-weight: 900;
}

.backgammon-subtitle {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}