.navbar-container {
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin-top: 20px;
    height: 125px;
}

.logo {
    font-size: 60px;
    color: #2B7A78;
    margin: 0;
}

.nav-button {
    border: 0;
    background-color: white;
    font-size: 18px;
    margin-top: 25px;
    margin-left: 5px;
    padding: 8px 20px 8px 20px; 
    border-radius: 30px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
}

.nav-button:hover {
    color: #2B7A78;
}

.nav-button.highlited {
    border: solid 2px #2B7A78;
    color: #2B7A78;
}

.nav-button.highlited:hover {
    background-color: #2B7A78;
    color: white;
  }

