.applications-container {
    width: 90%;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.applications-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.applications-header.title {
    font-size: 30px;
   font-weight: 700;
}

.applications-header.description {
    margin: 0;
    text-align: center;
    width: 50%;
    line-height: 30px;
    font-size: 20px;
    font-weight: 400;
}

.applications-card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 70px;
}

.applications-card {
    display: flex;
    flex-direction: column;
    width: 250px;
}


.applications-icon {
    text-align: center;
    color: #2B7A78;
    margin-bottom: 15px;
}

.applications-title {
    margin: 0;
    font-size: 22px;
    text-align: center;
    margin-bottom: 23px;
}

.applications-description {
    margin: 0;
    font-size: 16px;
    font-weight:500;
    text-align: center;
    line-height: 25px;
}
