.about-container {
    display: flex;
    background-color: #2B7A78;
    height: 475px;
    width: 100%;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
}

.about-me-text.description {
    margin: 0;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight:400;
    width: 70%;
    line-height: 30px;
}

.about-me-text.title {
    font-size: 26px;
    color: white;
    display: flex;
    justify-content: center;
}